/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 #dropDiv {
 	width: 80%;
    border: 1px solid #CCCCCC;
    margin-top: 20px;
    padding: 80px 20px;
    text-align: center;
    color: #CCCCCC;
 }